In [10]:
import pandas as pd
import numpy as np

In [46]:
df = pd.DataFrame({'key1':['a', 'a', 'b', 'b', 'a'],
                  'key2':['one', 'two','one', 'two','one'],
                  'data1': np.random.randint(1, 10, 5),
                  'data2': np.random.randint(1, 10, 5)})
df

   data1  data2 key1 key2
0      2      7    a  one
1      6      1    a  two
2      1      1    b  one
3      6      5    b  two
4      5      9    a  one

In [50]:
df['data1'].groupby(df['key1']).mean()

key1
a    4.333333
b    3.500000
Name: data1, dtype: float64

In [52]:
key = [1, 1, 2, 1, 2]
df['data1'].groupby(key).mean()

1    4.666667
2    3.000000
Name: data1, dtype: float64

In [57]:
print df['data1'].groupby([df['key1'], df['key2']]).sum()
df['data1'].groupby([df['key1'], df['key2']]).size()

key1  key2
a     one     7
      two     6
b     one     1
      two     6
Name: data1, dtype: int32

key1  key2
a     one     2
      two     1
b     one     1
      two     1
dtype: int64

In [69]:
print df.groupby('key1').size()
print df.groupby('key1').sum()
df.groupby('key1').sum()['data1']

key1
a    3
b    2
dtype: int64
      data1  data2
key1
a        13     17
b         7      6

key1
a    13
b     7
Name: data1, dtype: int32

In [72]:
mean = df.groupby(['key1', 'key2']).sum()
print mean
mean = df.groupby(['key1', 'key2']).sum()['data1']
mean

           data1  data2
key1 key2
a    one       7     16
     two       6      1
b    one       1      1
     two       6      5

key1  key2
a     one     7
      two     6
b     one     1
      two     6
Name: data1, dtype: int32

In [73]:
mean.unstack()

key2  one  two
key1
a       7    6
b       1    6

In [79]:
for name, group in df.groupby('key1'):
    print name
    print group
#df

a
   data1  data2 key1 key2
0      2      7    a  one
1      6      1    a  two
4      5      9    a  one
b
   data1  data2 key1 key2
2      1      1    b  one
3      6      5    b  two

In [82]:
dict(list(df.groupby('key1')))
# dict(list(df.groupby('key1')))['a']

{'a':    data1  data2 key1 key2
 0      2      7    a  one
 1      6      1    a  two
 4      5      9    a  one, 'b':    data1  data2 key1 key2
 2      1      1    b  one
 3      6      5    b  two}

In [84]:
df.dtypes

data1     int32
data2     int32
key1     object
key2     object
dtype: object

In [87]:
print df.groupby(df.dtypes, axis=1).sum()
df

   int32 object
0      9   aone
1      7   atwo
2      2   bone
3     11   btwo
4     14   aone

   data1  data2 key1 key2
0      2      7    a  one
1      6      1    a  two
2      1      1    b  one
3      6      5    b  two
4      5      9    a  one